<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace 는 별칭임 -->		
<mapper namespace="edu.ezen.practice.mapper.userMapper">
	
	<select id="selectLogin" parameterType="String" resultType="java.util.Map">
		SELECT userid as username
		     , name
		     , password
		     , enabled
		     , authority
		  from user
		 WHERE userid = #{value} 
	</select>
	
	<insert id="insert" parameterType="java.util.Map">	
		insert into user(userid
		     		   , password
		     		   , name
		     		   , enabled
		     		   , authority
		     		   , phone
		     		   , address
		     		   , email
		     		   , rdate ) 
		          values(#{userid}
		               , #{password}
		               , #{name}
		               , 1
		               , #{authority}
		               , #{phone}
		               , #{address}
		               , #{email}
		               , now()
		               )
	</insert>
</mapper>
