<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
			"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.board.mapper.memberMapper">

	<select id="selectAll" resultType="edu.board.vo.MemberVO" parameterType="edu.board.vo.SearchVO">
		SELECT *
		  FROM member
		 WHERE 1=1
		<if test='searchType != null and searchType.equals("id")'>
		   AND  mid like concat('%',#{searchValue},'%')
		</if>	
		<if test='searchType != null and searchType.equals("name")'>
		   AND mname like concat('%',#{searchValue},'%')
		</if>  
	</select>
	
	
	
	<select id="selectOneByMno" 
			resultType="edu.board.vo.MemberVO" 
			parameterType="int">
		SELECT *
		  FROM member
		 WHERE mno = #{mno}<!-- object.getMno() -->
	</select>
	
	

	<insert id="insert" parameterType="edu.board.vo.MemberVO">
		INSERT INTO
		member(
			 mid
			,mname
			,mphone
			,memail
			,mpassword
			,maddr
			,rdate
		)VALUES(
			 #{mid} <!-- MemberVO.getMid() -->
			,#{mname}
			,#{mphone}
			,#{memail}
			,#{mpassword}
			,#{maddr}
			,now()
		)
		<selectKey order="AFTER" keyProperty="mno" resultType="int">
			SELECT MAX(mno)
		 	  FROM member
		</selectKey>
	</insert>
	
	<!-- select id="findMaxMno" resultType="int">
		SELECT MAX(mno)
		  FROM member
	</select -->
	
	<update id="update" parameterType="memberVO">
		UPDATE member
		   SET mname = #{mname}
		     , mphone = #{mphone}
		     , memail = #{memail}
		     , mpassword = #{mpassword}
		     , maddr = #{maddr}
		WHERE mno = #{mno}
	</update>
</mapper>



